{% extends '::base.html.twig' %}

{% block title %}
An Error Occurred: {{ status_code }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/error.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
          	<div class="logo">
                <img src="{{ asset('images/zombie_logo_rond.png') }}" height="50" width="50">
            </div>
          	<span class="logo_zombie"></span>
            <h1 class="cover-heading">{{ status_code }}</h1>
            <p class="lead">{{ status_text }}</p>
            <p>
            	Something is broken. Please let us know what you were doing when this error occurred.
            	We will fix it as soon as possible. Sorry for any inconvenience caused.
            </p>
            <p class="lead">
              <a href="/" class="btn btn-lg btn-default">Back to Homepage</a>
            </p>
          </div>
        </div>


      </div>

    </div>
{% endblock %}

{% block javascripts %}
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

