
<span class="nav_widget">configSearch</span>

<div class="save_search_container">
<div class="menu_left">
<ul>
  {% if is_granted('nav_recherche_article') %}
  {% set qte_article = article_perso|length + article_fourni|length %}
  <li type="article"{% if type == 'article' %} class="selected"{% endif %}>
    <span class="title">Articles</span>
    <span class="desc">{{ qte_article }} recherche{{ qte_article > 1 ? 's':'' }}</span>
  </li>
  {% endif %}
</ul>
</div>
<div class="content">
  {% if is_granted('nav_recherche_article') %}
  <div class="cnt{% if type == 'article' %} visible{% endif %}" type="article">
    <div class="perso">
    <div class="title">Mes recherches</div>
    <div class="cont">
    <ul>
    {% for rs in article_perso %}
      <li rs_id="{{ rs.id }}" rs_type="{{ rs.type }}"><span><span class="nom">{{ rs.nom }}</span><span class="search hidden">{{ rs.chaineRecherche }}</span></span><span class="share">&nbsp;</span><span class="delete" res_id="{{ rs.id }}">&nbsp;</span></li>
    {% endfor %}
    </ul>
    </div>
    </div>
    <div class="shared">
    <div class="title">Recherches fournies</div>
    <div class="cont">
    <ul>
    {% for rs in article_fourni %}
      <li rs_id="{{ rs.id }}" rs_type="{{ rs.type }}"><span><span class="nom">{{ rs.nom }}</span><span class="search hidden">{{ rs.chaineRecherche }}</span></span><span class="delete" res_id="{{ rs.id }}">&nbsp;</span></li>
    {% endfor %}
    </ul>
    </div>
    </div>
  </div>
  {% endif %}
</div>
